.Hero {
    // padding-top:144px ;
    // position: absolute;
    z-index: 1;

    .hero_social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        // margin-left: -21px;
        left: 1%;
        margin-top: -140px;
        line-height: 51px;
        position: fixed;

        .bi::before {
            font-size: 30px;
            color: #249C0A;
            cursor: pointer;
        }
    }

    .hero_inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 100px;

        // position: absolute;
        .hero_left {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: -16px;
            margin-left: -60px;
            max-width: 900px;

            .hero_left_name {
                color: #FFF;
                font-family: Allerta;
                font-size: 70px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.05px;

                .hero_left_span {
                    margin-left: 25px;
                    position: relative;
                    color: transparent;
                    -webkit-text-stroke: 0.1vw #383d52;
                }

                .hero_left_span::before {
                    content: attr(data-text);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    color: #01fe87;
                    -webkit-text-stroke: 0vw #383d52;
                    border-right: 2px solid #01fe87;
                    white-space: nowrap;
                    overflow: hidden;
                    animation: animate 6s linear infinite;
                }

            }

            .hero_left_definintion {
                color: #D7D7D7;
                font-family: Allerta;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.36px;
                max-width: 650px;
                margin-top: 30px;
            }

            .hero_left_button {
                border-radius: 50px;
                border: 1px solid #249C0A;
                padding: 20px 90px 20px 51px;
                font-size: 20px;
                color: #fff;
                margin-top: 60px;
                position: relative;
                background: -webkit-linear-gradient(0deg, transparent 50%, #249C0A 50%);
                background-size: 589px 417px;
                cursor: pointer;

                .bi_right {
                    background: #249C0A;
                    padding: 15px 15px;
                    margin-top: -20px;
                    margin-left: 31px;
                    background: #249C0A;
                    border-right: 1px solid #249C0A;
                    border-radius: 50%;
                    flex-shrink: 0;
                    position: absolute;
                    font-size: 30px;
                }
            }

            .hero_left_button:hover {
                transition: 500ms all ease-in-out;
                background-position: -300px 0;
            }
        }

        .hero_right {
            img {
                object-fit: cover;
                height: 763px;
                margin-left: -204px;
                margin-right: -110px;
            }
        }
    }
}

@keyframes animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    70% {
        width: 100%;
    }
}


@media screen and (max-width: 1670px) {
    .hero_inner {
        margin-left: -102px !important;

        .hero_right {
            img {
                // display: block;
                height: 743px !important;
                max-width: 620px;
                margin-top: 20px;
                margin-left: -419px !important;
                // margin-left: -30px !important;
            }
        }
    }
}

@media screen and (max-width: 1450px) {
    .hero_inner {
        .hero_left {
            margin-top: -60px;

            .hero_social {
                left: 1%;
                margin-top: -100px;
            }

            .hero_left_bottom {
                .hero_left_name {
                    font-size: 60px;
                }

                .hero_left_definintion {
                    max-width: 600px;
                    font-size: 20px;
                }

                .hero_left_button {
                    padding: 15px 70px 15px 41px;

                    .bi_right {
                        padding: 10px 10px;
                        margin-top: -15px;
                        margin-left: 20px;
                    }
                }
            }
        }

        .hero_right {
            img {
                height: 723px !important;
                max-width: 500px;
                margin-top: 40px;
                margin-left: -419px !important;
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .hero_inner {
        .hero_left {
            margin-top: -105px;

            .hero_social {
                left: 1%;
                margin-top: -64px;
            }

            .hero_left_bottom {
                .hero_left_name {
                    font-size: 55px;
                }

                .hero_left_definintion {
                    max-width: 600px;
                    font-size: 18px;
                }

                .hero_left_button {
                    padding: 10px 60px 10px 31px;
                    font-size: 19px;

                    .bi_right {
                        padding: 4px 5px;
                        margin-top: -10px;
                        margin-left: 19px;
                    }
                }
            }
        }

        .hero_right {
            img {
                height: 723px !important;
                max-width: 500px;
                margin-top: 40px;
                margin-left: -419px !important;
            }
        }
    }
}


@media screen and (max-width: 1260px) {
    .hero_inner {
        margin-left: -20px !important;

        .hero_left {
            margin-top: -105px;

            .hero_social {
                left: 1%;
                margin-top: -64px;
            }

            .hero_left_bottom {
                .hero_left_name {
                    font-size: 55px;
                }

                .hero_left_definintion {
                    max-width: 600px;
                    font-size: 18px;
                }

                .hero_left_button {
                    padding: 10px 60px 10px 31px;
                    font-size: 19px;

                    .bi_right {
                        padding: 4px 5px;
                        margin-top: -10px;
                        margin-left: 19px;
                    }
                }
            }
        }

        .hero_right {
            img {
                height: 723px !important;
                max-width: 500px;
                margin-top: 40px;
                margin-left: -419px !important;
            }
        }
    }
}

@media screen and (max-width: 1140px) {
    .hero_inner {
        margin-left: 7px !important;

        .hero_left {
            margin-top: -105px;

            .hero_social {
                left: 1%;
                margin-top: -64px;
            }

            .hero_left_bottom {
                .hero_left_name {
                    font-size: 55px;
                }

                .hero_left_definintion {
                    max-width: 600px;
                    font-size: 18px;
                }

                .hero_left_button {
                    padding: 10px 60px 10px 31px;
                    font-size: 19px;

                    .bi_right {
                        padding: 4px 5px;
                        margin-top: -10px;
                        margin-left: 19px;
                    }
                }
            }
        }

        .hero_right {
            img {
                height: 723px !important;
                max-width: 500px;
                margin-top: 40px;
                margin-left: -339px !important;
            }
        }
    }
}

@media screen and (max-width: 1060px) {
    .hero_inner {
        .hero_left {
            margin-top: -105px;

            .hero_social {
                left: 1%;
                margin-top: -64px;
            }

            .hero_left_bottom {
                .hero_left_name {
                    font-size: 50px;
                }

                .hero_left_definintion {
                    max-width: 500px;
                    font-size: 17px;
                }

                .hero_left_button {
                    margin-top: 40px;
                    padding: 10px 60px 10px 31px;
                    font-size: 19px;

                    .bi_right {
                        padding: 4px 5px;
                        margin-top: -10px;
                        margin-left: 19px;
                    }
                }
            }
        }

        .hero_right {
            img {
                height: 603px !important;
                max-width: 519px;
                margin-top: 70px;
                margin-left: -439px !important;
            }
        }
    }
}



@media screen and (max-width: 775px) {
    .Hero {
        // position: absolute;
        // z-index: 1;
        // margin-top: -158px;
        // margin-left: 130px;
    }

    .hero_inner {
        padding-top: 400px;

        .hero_left {
            margin-left: 80px !important;

            .hero_social {
                left: 2%;
                margin-top: -80px;

                .bi::before {
                    font-size: 30px;
                    color: #249C0A;
                    cursor: pointer;
                }
            }

            .hero_left_bottom {

                .hero_left_name {
                    font-size: 60px;
                }

                .hero_left_definintion {
                    max-width: 560px;
                    font-size: 20px;
                }

                .hero_left_button {
                    margin-top: 50px;
                    font-size: 20px;
                    padding: 15px 70px 15px 31px;

                    .bi_right {
                        padding: 10px 10px;
                        margin-top: -15px;
                        margin-left: 20px;
                    }
                }
            }
        }

        .hero_right {
            img {
                display: none;
            }
        }
    }
}




@media screen and (max-width: 638px) {

    .hero_inner {
        .hero_left {
            .hero_social {
                left: 2%;
                margin-top: -50px;

                .bi::before {
                    font-size: 30px;
                    color: #249C0A;
                    cursor: pointer;
                }
            }

            .hero_left_bottom {
                .hero_left_name {
                    font-size: 50px !important;
                }

                .hero_left_definintion {
                    font-size: 17px !important;
                }

                .hero_left_button {
                    padding: 10px 60px 10px 31px;

                    .bi_right {
                        padding: 5px 5px;
                        margin-top: -10px;
                        margin-left: 19px;
                    }
                }
            }
        }
    }

}





@media screen and (max-width: 575px) {

    .hero_inner {
        margin-left: -20px !important;

        .hero_left {
            .hero_social {
                left: 2%;
                margin-top: -50px;

                .bi::before {
                    font-size: 30px;
                    color: #249C0A;
                    cursor: pointer;
                }
            }

            .hero_left_bottom {
                .hero_left_name {
                    font-size: 45px !important;
                }

                .hero_left_definintion {
                    font-size: 15px !important;
                }

                .hero_left_button {
                    padding: 10px 60px 10px 31px;

                    .bi_right {
                        padding: 5px 5px;
                        margin-top: -10px;
                        margin-left: 19px;
                    }
                }
            }
        }
    }
}




@media screen and (max-width: 510px) {

    .hero_inner {
        margin-left: -20px !important;

        .hero_left {
            .hero_social {
                left: 2%;
                margin-top: -50px;

                .bi::before {
                    font-size: 30px;
                    color: #249C0A;
                    cursor: pointer;
                }
            }

            .hero_left_bottom {
                .hero_left_name {
                    font-size: 45px !important;

                    .hero_left_span {
                        margin-left: 0;
                    }
                }

                .hero_left_definintion {
                    font-size: 15px !important;
                }

                .hero_left_button {
                    padding: 10px 60px 10px 31px;
                    margin-top: 30px;

                    .bi_right {
                        padding: 5px 5px;
                        margin-top: -10px;
                        margin-left: 19px;
                    }
                }
            }
        }
    }

}


@media screen and (max-width: 510px) {
    .hero_inner {
        .hero_left {
            .hero_left_bottom {
                .hero_left_name {
                    font-size: 45px !important;

                    .hero_left_span {
                        margin-left: 0;
                        position: relative;
                        color: transparent;
                        -webkit-text-stroke: 0.1vw #383d52;
                    }

                    .hero_left_span::before {
                        content: attr(data-text);
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0;
                        height: 100%;
                        color: #01fe87;
                        -webkit-text-stroke: 0vw #383d52;
                        border-right: 2px solid #01fe87;
                        white-space: wrap;
                        overflow: hidden;
                        animation: animate 6s linear infinite;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 360px) {
    .hero_inner {
        margin-left: -70px !important;
        padding-top: 250px;

        .hero_left {

            .hero_social {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;
                max-width: 800px;
                left: 2%;
                margin-top: 550px;
                position: absolute;

                .bi::before {
                    font-size: 30px;
                    color: #249C0A;
                    margin-left: 30px;
                    cursor: pointer;
                }
            }

            .hero_left_bottom {
                .hero_left_name {
                    font-size: 35px !important;

                    .hero_left_span {
                        margin-left: 0;

                    }

                    .hero_left_span::before {
                        white-space: nowrap;

                    }

                }

                .hero_left_definintion {
                    font-size: 16px !important;
                    margin-top: 10px;
                    letter-spacing: 2px;
                    line-height: 20px;
                }

                .hero_left_button {
                    padding: 13px 50px 13px 21px;
                    margin-top: 20px;
                    font-size: 17px;

                    .bi_right {
                        padding: 11px 11px;
                        font-size: 20px;
                        margin-top: -12px;
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 333px) {
    .hero_inner {
        .hero_left {
            .hero_left_span::before {
                white-space: wrap !important;

            }
        }
    }
}

@media screen and (max-width: 316px) {
    .hero_inner {
        .hero_left {
            .hero_social {
                .bi::before {
                    font-size: 30px;
                    color: #249C0A;
                    margin-left: 25px;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 292px) {
    .hero_inner {
        .hero_left {
            .hero_social {
                margin-left: 10px;

                .bi::before {
                    font-size: 30px;
                    color: #249C0A;
                    margin-left: 17px;
                    cursor: pointer;
                }
            }
        }
    }
}


@media screen and (max-width: 274px) {
    .hero_inner {
        .hero_left {
            .hero_social {
                margin-left: 10px;

                .bi::before {
                    font-size: 25px;
                    color: #249C0A;
                    margin-left: 17px;
                    cursor: pointer;
                }
            }
        }
    }
}