.Hero{
    .hero_social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        // margin-left: -21px;
        left: 1%;
        margin-top: -140px;
        line-height: 51px;
        position: fixed;
        .bi::before{
            font-size: 30px;    
            color: #249C0A;
            cursor: pointer;
        }
    }
    position: relative;
    .hero_inner{
        .hero_left{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 200px;
            margin-left: -60px;
            max-width: 900px;
            .hero_left_name{
                color: #FFF;
                font-family: Allerta;
                font-size: 70px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.05px;
                .hero_left_span{
                    margin-left:25px;
                    position: relative;
                    color: transparent;
                    -webkit-text-stroke: 0.1vw #383d52;
                }
                .hero_left_span::before{
                    content: attr(data-text);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    color: #01fe87;
                    -webkit-text-stroke: 0vw #383d52;
                    border-right: 2px solid #01fe87;
                    white-space: nowrap;
                    overflow: hidden;
                    animation: animate 6s linear infinite;
                }

            }
            .hero_left_definintion{
                color: #D7D7D7;
                font-family: Allerta;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.36px;
                max-width: 650px;
                margin-top: 30px;
            }
            .hero_left_button{
                border-radius: 50px;
                border: 1px solid #249C0A;
                padding: 20px 90px 20px 51px;
                font-size: 20px;
                color: #fff;
                margin-top: 60px;
                position: relative;
                background: -webkit-linear-gradient(0deg, transparent 50%, #249C0A 50%);
                background-size: 589px  417px;
                cursor: pointer;
                .bi_right{
                    background: #249C0A; 
                    padding: 15px 15px;
                    margin-top: -20px;
                    margin-left: 31px;
                    background: #249C0A;
                    border-right: 1px solid #249C0A;
                    border-radius: 50%;
                    flex-shrink: 0;
                    position: absolute;
                    font-size: 30px;
                }
            }

            .hero_left_button:hover{
                transition: 500ms all ease-in-out;
                background-position: -300px 0;
            }
        }
    }
}
@keyframes animate {
    0%, 10%, 100%{
        width: 0;
    }
    70%{
        width: 100%;
    }
}