.skills_inner {
  .skills_using {
    margin-top: 56px;
    margin-left: 207px;
    color: #fff;
  
    span {
      color: #00FF0A;
    }
  }
  h1 {
    text-align: center;
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.05px;

    span {
      color: #00FF0A;
      font-size: 60px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.05px;
    }
  }
  .swiper {
    max-width: 1309px;
    height: 488px;
      .swiper-pagination{
        margin-bottom: 10px;
        .swiper-pagination-bullet{
          background: #00FF0A !important;
          padding: 6px;
        }
      }
    .swiper-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      height: 197px;
    }
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   // flex-wrap: wrap;
  //   // gap: 50px;
  //   // margin-left: 324px;
  //   // margin-top: 50px;

    .skills_block {
      cursor: pointer;
      text-align: center;
      padding: 22px 75px 13px 70px;
      border: 1px solid transparent;
      h2 {
        margin-top: 10px;
        color: #fff;
        text-align: center;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.249px;
      }
    }

    .skills_block:hover {
      padding: 22px 75px 13px 70px;
      border-radius: 10px;
      border: 1px solid #969B95;
      background: rgba(166, 239, 239, 0.29);
      backdrop-filter: blur(4.5px);
    }

    .block3 {
      padding: 22px 60px 13px 60px;
    }

    .block3:hover {
      padding: 22px 60px 13px 60px;

    }

    .block4 {
      padding: 22px 30px 13px 30px;
      margin-right: 80px;
    }

    .block4:hover {
      padding: 22px 30px 13px 30px;
    }

    .block6 {
      padding: 22px 40px 13px 40px;

    }

    .block6:hover {
      padding: 22px 40px 13px 40px;
      border-radius: 10px;
      border: 1px solid #969B95;
      background: rgba(166, 239, 239, 0.29);
      backdrop-filter: blur(4.5px);
    }

    .block8 {
      margin-right: 70px;
    }

  }
  



}


@media screen and (max-width:1580px){
  .skills_inner{
    .skills_using{
      margin-left: 120px;
      transition: 0.5s all ease;
    }
    // .skills_items{
    //   margin-left: 150px;
    // }
  }
}

@media screen and (max-width:1140px){
  .skills_inner{
    .skills_using{
      margin-left: 40px;
      transition: 0.5s all ease;
    }
  }
}


@media screen and (max-width:775px){
  .skills_inner{
    padding-top: 110px;
  }
}
@media screen and (max-width:510px){
  .skills_inner{
    padding-top: 130px;
  }
}

@media screen and (max-width:460px){
  .skills_inner{
    padding-top: 130px;
    h1{
      span{
        font-size: 40px;
      }
      font-size: 40px;
    }
    .skills_using{
      font-size:20px;
    }
  }
}

@media screen and (max-width:360px){
  .skills_inner{
    padding-top: 100px;
    h1{
      span{
        font-size: 35px;
      }
      font-size: 35px;
    }
    .skills_using{
      font-size: 17px;
      margin-top: 15px;
    }
  }
}

@media screen and (max-width:330px){
  .skills_inner{
    padding-top: 100px;
    h1{
      span{
        font-size: 35px;
      }
      font-size: 35px;
    }
    .skills_using{
      font-size: 13px;
      margin-top: 15px;
      margin-left: 30px;
      letter-spacing: 1px;
    }
  }
}