.portfolio_inner{
    .portfolio_title{
        text-align: center;
        color: #FFF;
        font-family: Allerta;
        font-size: 70px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.05px;
        span{
            color: #00FF0A;
            font-family: Allerta;
            font-size: 60px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.05px;
        }
    }
    .portfolio_hero{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        margin-top: 50px;
        margin-left: 400px;
        max-width: 900px;
        flex-wrap: wrap;
        .portfolio_items{
            overflow: hidden;
            width: 420px;
            height: 280px;
                img{
                    width: 420px;
                    height: 280px;
                    object-fit:cover;
                    border-radius: 10px;
                    // cursor: pointer;
                }
                .itema1{
                    // display: block;
                    position: absolute;
                    // margin-top: 240px;
                    margin-left: -420px;
                    visibility: hidden;
                    color: #fff;
                    background-color: #2A3038;
                    padding: 120px 174px;
                    opacity: 0.8;
                    // padding: 120px 175px;
                }

        }
        .portfolio_items:hover{
            overflow: hidden;
            .itema1{
                text-align: center;
                // text-decoration: none;
                color: #fff;
                margin-top: 0px;
                margin-left: -420px;
                position: absolute;
                transition: 200ms all;
                visibility: visible;
                background-color: #2A3038;
                padding: 120px 174px;
                border-radius: 10px;
                opacity: 0.8;
                h1{
                    opacity: 99 !important;
                    color: #fff;
                }
            }

        }
    }
}