  @import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

  .Header {
      // display: contents;
      z-index: 99;
      position: relative;
  }

  .nav_inner {
      padding-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .nav_inner_left {
          display: flex;
          justify-content: space-around;
          align-items: center;

          // flex-grow: 1;
          .nav_item_logo {
              img {
                  max-width: 100px;
                  height: 100px;
              }
          }

          .item1 {
              // flex-grow: 1;
              // margin-right: -90px;
          }

          .item2 {
              margin-left: 30px;
          }
      }

      .nav_list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;

          // margin-left:600px;
          .nav_list_item {
              position: relative;
              margin-left: 100px;

              a {
                  text-decoration: none;
                  color: #fff;
                  font-family: Inter;
                  font-size: 21.9px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  letter-spacing: 1px;

              }

              .active::after {
                  content: '';
                  position: absolute;
                  display: block;
                  height: 2px;
                  width: 70%;
                  margin-top: 5px;
                  background-color: #00FF29;
              }

          }

          // .item3{
          //     margin-left: 620px;
          // }
          .item6 {
              margin-right: 20px;
          }
      }

      .nav_burger {
          display: none;
      }
  }

@media screen and (max-width: 1140px) {
      .nav_inner {
          .nav_inner_left {
              margin-left: 20px;
          }

          .nav_list {
              .nav_list_item {
                  margin-left: 50px;

                  a {
                      font-size: 18px;
                  }
              }

              .item6 {
                  // margin-right: -43px;
              }
          }
      }
  }

  @media screen and (max-width: 775px) {
      .nav_inner {
          position: absolute;
          z-index: -1;
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 900px;

          // max-width: 900px;
          .nav_inner_left {
              flex-grow: 1;
          }

          .nav_burger {
              display: block;
              margin-left: 478px;

              .bi {
                  font-size: 40px;
                  color: #fff;
                  cursor: pointer;
              }
          }

          .responsive_list {
              display: block !important;
              position: absolute;
              margin-top: 330px;
              margin-left: -30px;
              line-height: 40px;
              // background-color: #fff;
              padding: 20px 215px 20px 5px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: column;

              // width: 48%;
              .nav_list_item {
                  cursor: pointer;

                  a {
                      font-size: 20px;
                      color: #fff;
                  }

                  .active::after {
                      content: '';
                      position: absolute;
                      display: block;
                      height: 1.5px;
                      width: 50%;
                      margin-top: 1px;
                      background-color: #00FF29;
                  }
              }
          }

          .nav_list {
              display: none;
          }
      }

      .nav_responsive {
          background: #2a303800;
          backdrop-filter: blur(4.5px);
          position: absolute;
          height: 370px;
          width: 100%;
          // padding: 40px 0px 230px 0px;
          // z-index: 99;
          // position: absolute;
      }
  }


  @media screen and (max-width: 736px) {
      .nav_inner {
          .nav_burger {
              margin-left: 447px;

          }
      }
  }

  @media screen and (max-width: 710px) {
      .nav_inner {
          .nav_burger {
              margin-left: 430px;
          }
      }
  }

  @media screen and (max-width: 687px) {
      .nav_inner {
          .nav_burger {
              margin-left: 400px;
          }
      }
  }

  @media screen and (max-width: 660px) {
      .nav_inner {
          .nav_burger {
              margin-left: 380px;
          }
      }
  }

  @media screen and (max-width: 638px) {
      .nav_inner {
          .nav_burger {
              margin-left: 350px;
          }
      }
  }


  @media screen and (max-width: 610px) {
      .nav_inner {
          .nav_burger {
              margin-left: 320px;
          }
      }
  }

  @media screen and (max-width: 575px) {
      .nav_inner {
          .nav_burger {
              margin-left: 290px;
          }
      }
  }

  @media screen and (max-width: 548px) {
      .nav_inner {
          .nav_burger {
              margin-left: 270px;
          }
      }
  }


  @media screen and (max-width: 528px) {
      .nav_inner {
          .nav_burger {
              margin-left: 250px;
          }
      }
  }

  @media screen and (max-width: 510px) {
      .nav_inner {
          .nav_burger {
              margin-left: 220px;
          }
      }
  }


  @media screen and (max-width: 480px) {
      .nav_inner {
          .nav_burger {
              margin-left: 200px;
          }
      }
  }

  @media screen and (max-width: 455px) {
      .nav_inner {
          .nav_burger {
              margin-left: 170px;
          }
      }
  }


  @media screen and (max-width: 425px) {
      .nav_inner {
          .nav_burger {
              margin-left: 150px;
          }
      }
  }



  @media screen and (max-width: 405px) {
      .nav_inner {
          .nav_burger {
              margin-left: 135px;
          }
      }
  }


  @media screen and (max-width: 390px) {
      .nav_inner {
          .nav_burger {
              margin-left: 100px;
          }
      }
  }

@media screen and (max-width: 360px) {
      .nav_inner {
          z-index: -1;
          margin-top: -20px;

          .nav_inner_left {
              .item1 {
                  a {
                      img {
                          max-width: 70px;
                          height: 70px;
                          margin-left: -15px;
                      }
                  }
              }

              .item2 {
                  margin-left: 20px;

                  a {
                      img {
                          max-width: 50px;
                          height: 12px;
                      }
                  }
              }
          }

          .nav_burger {
              margin-left: 175px;

              .bi {
                  font-size: 30px;
                  color: #fff;
                  cursor: pointer;
              }
          }
      }
  }


  @media screen and (max-width: 352px) {
      .nav_inner {
          .nav_burger {
              margin-left: 160px;
          }
      }
  }
@media screen and (max-width: 340px) {
    .nav_inner {
        .nav_burger {
            margin-left: 120px;

            .bi {
                font-size: 25px;
            }
        }
        .responsive_list{
            margin-left: -42px;
        }
    }
}

  @media screen and (max-width: 316px) {
      .nav_inner {
          .nav_burger {
              margin-left: 120px;

              .bi {
                  font-size: 25px;
              }
          }
      }
  }


  @media screen and (max-width: 292px) {
      .nav_inner {
          .nav_burger {
              margin-left: 100px;

              .bi {
                  font-size: 25px;
              }
          }
      }
  }

  @media screen and (max-width: 274px) {
      .nav_inner {
          .nav_burger {
              margin-left: 80px;

              .bi {
                  font-size: 25px;
              }
          }
      }
  }


  @media screen and (max-width: 252px) {
      .nav_inner {
          .nav_burger {
              margin-left: 70px;

              .bi {
                  font-size: 23px;
              }
          }
      }
  }