*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background: #2A3038;
  height: 100vh;
  background-image: url('./Assets/Images/Meliuk-liuk2.png');
  background-size: cover;
  background-position: center;
  position: relative;
  .background_nimation{
    margin-left: 490px;
    margin-top: -900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: animates 15s linear infinite;
    .animation_ball{
      // position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: green;
      display: block;
      margin-left: 30px;
    }
    .ball2{
        margin-left: 20px;
    }
  }
}

@keyframes animates {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(900px);
  }
}
.container{
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 10px;
}
ul,ol{
  list-style-type: none;
  padding-left: 0;
}
a{
  text-decoration: none;
}

@media screen and (max-width:1550px){
  .App{
    height: 131vh;
  }
}

@media screen and (max-width:695px){
  .App{
    height: 111vh;
  }
}

@media screen and (max-width:616px){
  .App{
    height: 155vh;
  }
}
@media screen and (max-width:605px) {
  .App{
    background: #2A3038;
    height: 211vh;
    background-image: url('./Assets/Images/Meliuk-liuk2.png');
    background-size: cover;
    background-position: center;
  }
}