*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background: #2A3038;
  height: 100vh;
  background-image: url('./Assets/Images/Meliuk-liuk2.png');
  background-size: cover;
  background-position: center;
}
.container{
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 10px;
}
ul,ol{
  list-style-type: none;
  padding-left: 0;
}
a{
  text-decoration: none;
}

@media screen and (max-width:605px) {
  .App{
    background: #2A3038;
    height: 171vh;
    background-image: url('./Assets/Images/Meliuk-liuk2.png');
    background-size: cover;
    background-position: center;
  }
}